.icon-page_white_excel{background:url('IconsExtension/page_white_excel.png') no-repeat center center;}
.icon-printer{background:url('IconsExtension/printer.png') no-repeat center center;}
.icon-page_excel{background:url('IconsExtension/page_excel.png') no-repeat center center;}
