<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>舞管家</title>
	<link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/static/css/IconExtension.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dancemgr.css">
    <script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/dance.tools.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fullcalendar.js"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />
</head>
<body class="easyui-layout" id="dance-main-layout">
	<div data-options="region:'north',border:false" style="height:60px;background:url(static/img/top.jpg); padding:10px;">
        <div align="right">
            {{ g.user.name }}
            <a id="btnLogout" href="/logout" class="easyui-linkbutton" data-options="iconCls:'icon-search'">退出</a>
        </div>
    </div>

	<div data-options="region:'west',split:true,hideCollapsedContent:false,title:'功能栏'" style="width:200px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="学员管理" data-options="iconCls:'icon-student',selected:true" style="padding:1px">
                <ul id="treeStudent"></ul>
            </div>
            <div title="员工与老师" data-options="iconCls:'icon-teacher'" style="padding:1px">
                <ul id="treeTeacher"></ul>
            </div>
            <div title="教学管理" data-options="iconCls:'icon-book'" style="padding:1px">
                <ul id="treeSchool"></ul>
            </div>
            <div title="物品管理" data-options="iconCls:'icon-computer'" style="padding:1px">
                <ul id="treeAsset"></ul>
            </div>
            <div title="财务管理" data-options="iconCls:'icon-money_yen'" style="padding:1px">
                <ul id="treeFinance"></ul>
            </div>
            <div title="数据管理" data-options="iconCls:'icon-databases'" style="padding:1px">
                <ul id="treeDb"></ul>
            </div>
        </div>
	</div>
	<div data-options="region:'south',border:false" style="height:40px;background:url(/static/img/bottom.gif);padding:10px;">
        <div align="center">
            版权所有：华盛星辉©2015-2017
        </div>
    </div>

	<div data-options="region:'center'">
        <div id="danceTabs"></div>
    </div>

</body>
<script src="/static/js/dance.starup.js"></script>
<script src="/static/js/dance.student.js"></script>
<script src="/static/js/dance.class.js"></script>
<script src="/static/js/dance.datamgr.js"></script>
<script src="/static/js/dance.editedtable.js"></script>
<script src="/static/js/dance.receipt.js"></script>
<script src="/static/js/dance.teacher.js"></script>
<script src="/static/js/dance.course.js"></script>
<script src="/static/js/dance.upgclass.js"></script>
</html>