<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>舞蹈培训管理系统</title>
	<link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/lib/jquery-easyui-1.5.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/IconExtension.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dancemgr.css">
	<script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery-easyui-1.5.2/jquery.easyui.min.js"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="bookmark" href="/static/img/favicon.ico" type="image/x-icon" />

</head>
<body class="easyui-layout">
	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">north region</div>

	<div data-options="region:'west',split:true,hideCollapsedContent:false,title:'功能栏'" style="width:200px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="学员管理" data-options="iconCls:'icon-student'" style="padding:1px">
                <ul id="treeStudent" class="easyui-tree" data-options="url:'/static/html/tree_student.json',method:'get',animate:true,lines:true"></ul>
            </div>
            <div title="员工与老师" data-options="iconCls:'icon-teacher', selected:true" style="padding:1px">
                <ul id="treeTeacher" class="easyui-tree" data-options="url:'/static/html/tree_teacher.json',method:'get',animate:true,lines:true"></ul>
            </div>
            <div title="教学管理" data-options="iconCls:'icon-book'" style="padding:1px">
                <ul id="treeSchool" class="easyui-tree" data-options="url:'/static/html/tree_school.json',method:'get',animate:true,lines:true"></ul>
            </div>
            <div title="物品管理" data-options="iconCls:'icon-computer'" style="padding:1px">
                <ul id="treeAsset" class="easyui-tree" data-options="url:'/static/html/tree_asset.json',method:'get',animate:true,lines:true"></ul>
            </div>
            <div title="财务管理" data-options="iconCls:'icon-money_yen'" style="padding:1px">
                <ul id="treeFinance" class="easyui-tree" data-options="url:'/static/html/tree_finance.json',method:'get',animate:true,lines:true"></ul>
            </div>
            <div title="数据管理" data-options="iconCls:'icon-databases'" style="padding:1px">
                <ul id="treeDb" class="easyui-tree" data-options="url:'/static/html/tree_db.json',method:'get',animate:true,lines:true"></ul>
            </div>
        </div>
	</div>
	<div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>

	<div data-options="region:'center'">
        <div class="easyui-tabs" data-options="fit:true,border:false,plain:true" id="danceTabs">
            <div title="Test">
                <table id="dg_machine_list"></table>
            </div>
        </div>
    </div>

    <script>
        'use strict';

        $('.easyui-tree').tree({
            onClick: function(node){
                console.log('this.id=' + this.id + ', node.id=' + node.id + ', node.text=' + node.text);
                if($(this).tree('isLeaf',node.target)){  // 判断是否是叶子节点
                } else {
                    $(this).tree('expand',node.target);
                }

                var tableId = this.id + node.id;
                if(node.text == '学员列表') {
                    danceAddTab('danceTabs', node.text, tableId);
                    danceCreateStudentDatagrid(tableId, '/dance_student');
                } else if (node.text == '班级信息') {
                    danceAddTab('danceTabs', node.text, tableId);
                    danceCreateClassDatagrid(tableId, '/dance_class');
                }else if(node.text == '分校信息') {
                    danceAddTab('danceTabs', node.text, tableId);
                    //danceCreateSchoolDatagrid(tableId, '/dance_school');
                    danceCreateEditedDatagrid(tableId, '/dance_school', opts);
                }else if(node.text == '用户管理') {
                    danceAddTab('danceTabs', node.text, tableId);
                    danceCreateEditedDatagrid(tableId, '/dance_user', opts_user);
                }
                else {
                    $.messager.alert('提示', ' 制作中...', 'info');
                }
            }
        });

        createDatagrid('dg_machine_list');

        function createDatagrid(datagridId) {
            var _pageSize = 30;
            var _pageNo = 1;
            var dg = $('#' + datagridId);

            $(dg).datagrid({
                // title: '和仲位置信息',
                iconCls: 'icon-a_detail',
                fit: true,
                fitColumns: true,
                pagination: true,   // True to show a pagination toolbar on datagrid bottom.
                // singleSelect: true, // True to allow selecting only one row.
                loadMsg: '正在加载数据...',
                border: false,
                striped: true,
                pageNumber: 1,
                pageSize: _pageSize,     //每页显示条数
                nowrap: true,   // True to display data in one line. Set to true can improve loading performance.
                pageList: [20, 30, 40, 50, 100],   //每页显示条数供选项
                rownumbers: true,   // True to show a row number column.
                toolbar: [{
                    text:"增加", iconCls:'icon-add',
                    handler:function(){
                        alert('add');
                    }}, {
                    text:"编辑/查看", iconCls:'icon-edit',
                    handler:function(){
                        alert('edit');
                    }}, {
                    text:"删除", iconCls:'icon-remove',
                    handler:function(){
                        alert('del');
                    }}, '-', {
                    text: '姓名：<select class="easyui-combobox" panelHeight="auto" style="width:100px"></select>'
                    }, {
                    text:"查询", iconCls: 'icon-search',
                    handler: function () {
                        alert('查询');
                    }}
                ],
                columns: [[
                    {field: 'ck', checkbox:true },   // checkbox
                    // {field: 'no', title: '序号',  width: 15, align: 'center' },  //能自动显示行号，则不再需要自己实现
                    {field: 'id', title: 'id',  width: 30, align: 'center' },
                    {field: 'build_id', title: '建筑ID', width: 70, align: 'center'},
                    {field: 'floor_no', title: '楼层', width: 100, align: 'center'},
                    {field: 'user_id', title: '用户ID', width: 70, align: 'center'},
                    {field: 'x', title: 'x坐标', width: 70, align: 'center'},
                    {field: 'y', title: 'y坐标', width: 70, align: 'center'},
                    {field: 'timestamp', title: '时间戳', width: 120, align: 'center'}
                ]],
                onLoadSuccess: function () {
                    $(dg).datagrid("fixRownumber");
                    $(dg).datagrid('loaded');
                }
            });

            var pager = dg.datagrid('getPager');
            $(pager).pagination({
                //pageSize: _pageSize,//每页显示的记录条数，默认为10
                //pageList: [20, 30, 40, 50],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页, 共 {pages} 页',
                displayMsg: '当前记录 {from} - {to} , 共 {total} 条记录',
                onSelectPage: function (pageNumber, pageSize) {
                    $(dg).datagrid('loading');  // 打开等待div
                    console.log('pageNo=' + pageNumber + " pageSize=" + pageSize);
                    // 改变opts.pageNumber和opts.pageSize的参数值，用于下次查询传给数据层查询指定页码的数据
                    var gridOpts = $(dg).datagrid('options');
                    gridOpts.pageNumber = pageNumber;
                    gridOpts.pageSize = pageSize;

                    _pageSize = pageSize;
                    _pageNo = pageNumber;
                    doAjax();
                }
            });

            // 先通过ajax获取数据，然后再传给datagrid
            var doAjax = function () {
                $.ajax({
                    method: 'POST',
                    url: '/dance_location_get',
                    async: true,
                    dataType: 'json',
                    data: {'pageSize': _pageSize, 'pageNo': _pageNo},
                    success: function (data) {
                        console.log(data);

                        // 注意此处从数据库传来的data数据有记录总行数的total列和 rows
                        dg.datagrid('loadData', data);
                    },
                    error: function () {
                        console.log('error in ajax.');
                    }
                });
            };

            doAjax();   // 获取数据
        }

    </script>

</body>
<script src="/static/js/dancestudent.js"  type="text/javascript"></script>
<script src="/static/js/danceclass.js"  type="text/javascript"></script>
<script src="/static/js/dancedatamgr.js"  type="text/javascript"></script>
<script src="/static/js/dancetempeditedtable.js"  type="text/javascript"></script>

</html>